<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <div class="navbar navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a>Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" ng-model="query">
                </div>
                <button ng-click="search()" type="submit" class="btn btn-default">Go!</button>
              </form>
            <!-- <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li> -->
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            <button ng-show="!user" ui-sref="login" class="btn login-button">Sign Up</button>
            <button ng-show="!user" ui-sref="login" class="btn login-button">Logout</button>
            <button ng-show="!user" ui-sref="login" class="btn login-button">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>
        </div>
        
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>