<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>

<!--             <div class="btn-group" dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div> -->

        <div class="navbar navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref='home'>Home</a></li>
                <li class="dropdown" dropdown is-open="status.isopen">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdown-toggle>Categories <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li> 
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" ng-model="query">
                </div>
                <button ng-click="search()" type="submit" class="btn btn-default">Go!</button>
              </form>
            <!-- <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li> -->
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            <button ng-show="!user" ui-sref="#" class="btn login-button">Sign Up</button>
            <button ui-sref="cart" class="btn login-button">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>
            <button
              ng-show='user'
              class='btn login-button'
              ng-click='logout()'>Logout
            </button>
        </div>
    </div>
</nav>

<!-- <span>Welcome, {{ user.email }}! </span> -->
