<div class="container centered">
<h3>Sign Up</h3>
  <div class='row'>
    <div class='col-md-6'>
      <form class="centered form-group col-lg-6 signup">
        <input name="name" type="text" class="form-control" ng-model="customer.name" placeholder="Full Name">
        <input name="email" type="text" class="form-control" ng-model="customer.email" placeholder="E-mail">
        <input name="password" type="text" class="form-control" ng-model="customer.password" placeholder="Password">
        <input name="streetAddress" type="text" class="form-control" ng-model="customer.addressStreet" placeholder="Street Address">
        <input name="streetAddress" type="text" class="form-control" ng-model="customer.addressApt" placeholder="Apartment #">
        <input name="city" type="text" class="form-control" ng-model="customer.city" placeholder="City">
        <input name="state" type="text" class="form-control" ng-model="customer.state" placeholder="State / Province / Region">
        <input name="zipcode" type="text" class="form-control" ng-model="customer.zipcode" placeholder="Zip Code">
        <input name="country" type="text" class="form-control" ng-model="customer.country" placeholder="Country">
        <input name="phone" type="text" class="form-control" ng-model="customer.phone" placeholder="Phone Number">
        <button class="btn btn-success" ng-click="saveInformation(customer)" type="submit">Save</button>
      </form>
    </div>
    <div class='col-md-6'>
      <div class="buffer oauth">
        <p><oauth-button provider-name="Facebook"></oauth-button></p>
    		<p><oauth-button provider-name="Google"></oauth-button></p>
    		<p><oauth-button provider-name="Twitter"></oauth-button></p>
    	</div>
    </div>
  </div>
</div>
