html {
	position: relative;
	min-height: 100%;
}

$footer-height: 55px;

body {
	margin-bottom: $footer-height + 50px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	background: white;
  	border-top: 1px solid black;
  	box-shadow: 1px 1px 14px -3px black;

	img {
		height: 100%;
	}
}
