navbar {

  @mixin spin {
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 0.4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 0.4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  }

  &:hover {
    #logo {
      @include spin
    }
  }

  display: block;
  background-color: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
  height: 55px;

  .navbar-brand {
    padding: 10px;

    img {
      height: 100%;
    }
  }

  #home {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  #home:hover span {
    display: none;
  }

  #home:hover:before {
    content: 'ホーム';
  }

  #search {
    width: 80px;
    text-align: center;
  }

  #search:hover span {
    display: none;
  }

  #search:hover:before {
    content: '検索！';
    font-style: italic;
    color: #f31214;
  }

  .container {
    width: 91%;
    max-width: 1340px;
  }

  ninja-store-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: black;
    font-size: 16px;

    &:hover {
      color: #f31214;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }
}

@-webkit-keyframes spinnerRotate {
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate {
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}

@-ms-keyframes spinnerRotate {
  from{-ms-transform:rotate(0deg);}
  to{-ms-transform:rotate(360deg);}
}
