<div class="container-fluid">
    <div ng-if="admin" class="col-md-6">

        <button class="btn btn-default" ng-click="displayUsers()">
            {{toggleDisplay}} All Users
        </button>

        

        <div ng-repeat="user in usersDisplay" ng-if="usersDisplay" class="userDisplay">
            <a ng-click="switchUser(user)" style="cursor:pointer"> {{user.name}}</a><a ng-if="user.isAdmin"> (admin)</a>
            <div class="floatRight">
                <button class="btn btn-danger" ng-if="!user.isAdmin"ng-click="setAdmin(user,true)">Set Admin</button>
                <button class="btn btn-danger" ng-if="user.isAdmin"ng-click="setAdmin(user,false)">Revoke Admin</button>
                <button class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
                <button class="btn btn-danger" ng-click="resetPassword(user)">Reset password</button>
            </div>
        </div>
                <div class="createItem">
            <button class="btn btn-primary" ng-click="createItem()">Create New Item</button>
            <div ng-if="addingNewItem" class="form-group">
                <input name="name" type="text" class="form-control" ng-model="newItem.name" placeholder="Item Name">
                <input name="shortDescription" type="text" class="form-control" ng-model="newItem.description.short" placeholder="Short Description: Two sentences or less!">
                <textarea name="longDescription" type="text" class="form-control" ng-model="newItem.description.long" placeholder="Long Description: As long as you want!"></textarea>
                <input name="price" type="text" class="form-control" ng-model="newItem.price" placeholder="$ Price Per Item">
                <input name="quantity" type="text" class="form-control" ng-model="newItem.quantity" placeholder="Quantity Available">
                <input name="categories" type="text" class="form-control" ng-model="newItem.categories" placeholder="Categories: Separated by commas">
                <input name="photo" type="text" class="form-control" ng-model="newItem.photos" placeholder="Photos">

                <button class="btn btn-success" ng-click="saveNewItem()" type="submit">
                    Save
                </button>
                <button class="btn btn-danger" ng-click="cancelCreation()" type="submit">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div ng-if="!editing" class="row">
    	<!-- <pre>{{account}}</pre> -->
        <h2>
        	Account Information
        </h2>
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Address: {{user.addresses[0].address}}</p>
        <p>City: {{user.addresses[0].city}}, {{user.addresses[0].state}}, {{user.addresses[0].zipcode}} </p>
        <p>Country: {{user.addresses[0].country}} </p>
        <p>Phone: {{user.addresses[0].phone}} </p>

        <button class="btn btn-default" ng-click="editInformation()">
                Edit
        </button>
    </div>
    <form class="form-group" ng-if="editing">
            <input name="name" type="text" class="form-control" ng-model="user.name" placeholder="Full Name">
            <input name="streetAddress" type="text" class="form-control" ng-model="user.addresses[0].address" placeholder="Street Address">
            <input name="city" type="text" class="form-control" ng-model="user.addresses[0].city" placeholder="City">
            <input name="state" type="text" class="form-control" ng-model="user.addresses[0].state" placeholder="State / Province / Region">
            <input name="zipcode" type="text" class="form-control" ng-model="user.addresses[0].zipcode" placeholder="Zip Code">
            <input name="country" type="text" class="form-control" ng-model="user.addresses[0].country" placeholder="Country">
            <input name="email" type="text" class="form-control" ng-model="user.email" placeholder="E-mail">
            <input name="phone" type="text" class="form-control" ng-model="user.addresses[0].phone" placeholder="Phone Number">

            <button class="btn btn-success" ng-click="saveInformation(customer)" type="submit">
                Save
            </button>
    </form>
    <div class="row">
        <div>
        	<h3>Your Orders</h3>
        	<div ng-repeat="order in orders" ng-if="orders">
        		<orderdetail-account-page order="order" statuses="status" class="row"></orderdetail-account-page>
        </div>

        <div >
            <h3>
                Your reviews
            </h3>
            <div ng-repeat="reviews in reviews"></div>
        </div> 
    </div>
    <div class"row">
        <h3>

        </h3>

    </div>

</div>