<div id="sidebar-collapse" class="col-lg-2 sidebar">
    <ul class="nav menu dashboard">

        <h4 ng-if="admin">Admin Panel</h4>
        <li ng-if="admin" ui-sref-active="active"><a ng-click="displayUsers()"><span class="glyphicon glyphicon-heart"></span> Display All Users</a></li>
        <li ng-if="admin" ui-sref-active="active"><a ng-click="createItem()"><span class="glyphicon glyphicon-check"></span> Create New Item</a></li>
        <li ng-if="admin" ui-sref-active="active"><a ng-click="createCategory()"><span class="glyphicon glyphicon-star"></span> Create Category</a></li>
        <li ng-if="admin" ui-sref-active="active"><a ng-click="managePromo()"><span class="glyphicon glyphicon-star"></span> Manage Promotion</a></li>
        <li ng-if="admin" role="presentation" class="divider"></li>
        <li ui-sref-active="active"><a ng-click="displayAccountInfo()"><span class="glyphicon glyphicon-gift"></span> Account Info</a></li>
        <li ui-sref-active="active"><a ng-click="displayOrders()"><span class="glyphicon glyphicon-wrench"></span> Your Orders</a></li>
        <li ui-sref-active="active"><a ng-click="displayReviews()"><span class="glyphicon glyphicon-wrench"></span> Your Reviews</a></li>
    </ul>
</div>
<div class="col-lg-10 account-page">
    <div class="col-md-8 centered" ng-if="!displayObject">
        <h1>Welcome to your account, {{user.name}}-San!</h1>
    </div>
    <div ng-if="admin && displayObject === 'users'" class="col-lg-12 centered">
        <h2>All Users</h2>
        <div ng-repeat="user in usersDisplay" class="userDisplay centered">
            <div class="users">
                <div class="username" style="float:left">
                    <a ng-click="switchUser(user)" style="cursor:pointer"> {{user.name}}</a><a ng-if="user.isAdmin"> (admin)</a>
                </div>
                <div style="float:right">
                    <button class="btn btn-danger" ng-if="!user.isAdmin"ng-click="setAdmin(user,true)">Set Admin</button>
                    <button class="btn btn-danger" ng-if="user.isAdmin"ng-click="setAdmin(user,false)">Revoke Admin</button>
                    <button class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="createItem">
        <div ng-if="admin && displayObject === 'newItem'" class="form-group col-md-6 centered">
            <h2>Create A New Item</h2>
            <input name="name" type="text" class="form-control" ng-model="newItem.name" placeholder="Item Name">
            <input name="shortDescription" type="text" class="form-control" ng-model="newItem.description.short" placeholder="Short Description: Two sentences or less!">
            <textarea name="longDescription" type="text" class="form-control" ng-model="newItem.description.long" placeholder="Long Description: As long as you want!"></textarea>
            <input name="price" type="text" class="form-control" ng-model="newItem.price" placeholder="$ Price Per Item">
            <input name="quantity" type="text" class="form-control" ng-model="newItem.quantity" placeholder="Quantity Available">
            <input name="categories" type="text" class="form-control" ng-model="newItem.categories" placeholder="Categories: Separated by commas">
            <input name="photo" type="text" class="form-control" ng-model="newItem.photos" placeholder="Photos">
            <button class="btn btn-success" ng-click="saveNewItem()" type="submit">
            Save
            </button>
            <!--  <button class="btn btn-danger" ng-click="cancelCreation()" type="submit">
                            Cancel
            </button> -->
        </div>
    </div>
    <div class="createCategory">
        <div ng-if="admin && displayObject === 'newCategory'" class="form-group col-md-6 centered">
            <h2>Create A New Category</h2>
            <input name="categories" type="text" class="form-control" ng-model="newItem.categories" placeholder="Enter New Category">
            <button class="btn btn-success" ng-click="saveNewItem()" type="submit">
            Save
            </button>
            <!-- <button class="btn btn-danger" ng-click="cancelCreation()" type="submit">
                            Cancel
            </button> -->
        </div>
    </div>
    <div ng-if="displayObject==='account'" class="col-md-6 centered">
        <!-- <pre>{{account}}</pre> -->
        <h2>
        Ninja Account Information
        </h2>
        <div class="accountInfo" align="left">
            <p><b>Name:</b> {{user.name}}</p>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Address:</b> {{user.addresses[0].address}}</p>
            <p><b>City:</b> {{user.addresses[0].city}}, {{user.addresses[0].state}}, {{user.addresses[0].zipcode}} </p>
            <p><b>Country:</b> {{user.addresses[0].country}} </p>
            <p><b>Phone:</b> {{user.addresses[0].phone}} </p>
        </div>
        <button class="btn btn-default" ng-click="editInformation()">
        Edit
        </button>
    </div>
    <form class="form-group col-md-4 centered" ng-if="displayObject==='editing'">
        <h2>Edit Ninja Settings</h2>
        <input name="name" type="text" class="form-control" ng-model="user.name" placeholder="Full Name">
        <input name="streetAddress" type="text" class="form-control" ng-model="user.addresses[0].address" placeholder="Street Address">
        <input name="city" type="text" class="form-control" ng-model="user.addresses[0].city" placeholder="City">
        <input name="state" type="text" class="form-control" ng-model="user.addresses[0].state" placeholder="State / Province / Region">
        <input name="zipcode" type="text" class="form-control" ng-model="user.addresses[0].zipcode" placeholder="Zip Code">
        <input name="country" type="text" class="form-control" ng-model="user.addresses[0].country" placeholder="Country">
        <input name="email" type="text" class="form-control" ng-model="user.email" placeholder="E-mail">
        <input name="phone" type="text" class="form-control" ng-model="user.addresses[0].phone" placeholder="Phone Number">
        <button class="btn btn-success" ng-click="saveInformation(customer)" type="submit">
        Save
        </button>
    </form>
    <div ng-if="displayObject==='orders'" class="container col-md-10 centered">
        <h2>Your Orders</h2>
        <div ng-repeat="order in orders" ng-if="orders">
            <orderdetail-account-page order="order" statuses="status" class="row"></orderdetail-account-page>
        </div>
    </div>
    <div ng-if="displayObject==='promo'" class="container col-md-10 centered">
        <h2>List of Promotion Code</h2>
        <div ng-repeat="promo in promos" ng-if="promos">
            <p>
                Code: {{promo.promoCode}}
            </p>
            <p>
                Date created: {{promo.createdDate}}
            </p>
            <p>
                Date expire: {{promo.expires}}
            </p>
            <p>
                Percent off:{{promo.percentOff}}
            </p>
            <p>
                Valid categories:{{promo.validCategories}}
            </p>
        </div>
            <!-- <div id="newPromoForm">
            
            <div>Code name

            </div> -->
            <h3>Create new Promo code</h3>
            <form class="form-group col-md-12 centered">
                <input name="codeName" type="text" class="form-control" ng-model="newPromo.promoCode" placeholder="Code name">
                <input name="percentOff" type="number" class="form-control" ng-model="newPromo.percentOff" placeholder="Percentage Off">
                <input type="text" class="form-control" 
                       datepicker-popup="mediumDate" 
                       is-open="valuationDatePickerIsOpen" 
                       ng-click="valuationDatePickerOpen()" 
                       ng-model="newPromo.expires"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" 
                          ng-click="valuationDatePickerOpen($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>


                Categories Apply:<!-- 
                <div ng-repeat="category in categories">
                    <span> 

                        <input type="checkbox" ng-model="newPromo.validCategories"/>
                        {{category}}
                    </span>

                </div> -->
                <select ng-model="newPromo.validCategories[0]" convert-to-number>
                  <option ng-repeat='category in categories'>{{category}}</option>
                </select>

            <button class="btn btn-success" ng-click="createNewPromoCode()" type="submit">
                    Save
            </button>
            </form>    
        </div>
    </div>
    <div ng-if="displayObject==='reviews'" class="container col-md-10 centered">
        <div ng-if="!reviews.length">
            <h2>You've left no reviews! Go out and buy some things!</h2>
        </div>
        <div ng-if="reviews.length">
            <h2>
            Your reviews
            </h2>
            <div ng-repeat="reviews in reviews"></div>
            <review-detail review="review"></review-detail>
        </div>
    </div>
</div>

</div>