<div>
    <div>
    	<!-- <pre>{{account}}</pre> -->
        <h2>
        	Account Information
        </h2>
        <p>Name: {{account.name}}</p>
        <p>Email: {{account.email}}</p>
        <p>Address: {{account.displayAddress}}</p>
    </div>
    <div>
    	<h3>Your Orders</h3>
    	<button class = "btn btn-default" ng-click="showOrder()">Show Orders</button>
    	<div ng-repeat="order in orders" ng-if="orders">
    		<orderdetail order="order"></orderdetail>	
    	</div>
    </div>
    <div>

        

    </div>
</div>