<div class='input-group'>
	<span class='input-group-addon' id="basic-addon1">Review:</span>
  <input
    class='form-control'
    ng-model='newReview.review'
    type='text'
    placeholder='Let other ninjas know how tubular the {{item.name}} is.'>
</div>
<div class = "input-group">
    <a ng-mouseover="applyHoverClass(star)" ng-mouseleave="removeHoverClass()" ng-repeat="star in stars" ng-click="saveReview(star)">
	    <img class="ratingStar opaque rotateHover" ng-class="{'rotate': starTrue[star], 'opaqueRemove': starPermTrue[star]}" src="https://www.karatemart.com/images/products/large/black-ronin-throwing-star.jpg" />
    </a>
</div>
  <button
    class='review-submit'
    ng-click='submitReview()'>Submit</button>