<div class="container centered">
    <div id="address" class="col-lg-6">
    	<h3>Shipping Address</h3>
        <form class="form-group" ng-if="!user||editing">

            <input name="name" type="text" class="form-control" ng-model="user.name" placeholder="Full Name">
            <input name="streetAddress" type="text" class="form-control" ng-model="user.addresses[0].addressStreet" placeholder="Street Address">
            <input name="streetAddress" type="text" class="form-control" ng-model="user.addresses[0].addressApt" placeholder="Apartment #">
            <input name="city" type="text" class="form-control" ng-model="user.addresses[0].city" placeholder="City">
            <input name="state" type="text" class="form-control" ng-model="user.addresses[0].state" placeholder="State / Province / Region">
            <input name="zipcode" type="text" class="form-control" ng-model="user.addresses[0].zipcode" placeholder="Zip Code">
            <input name="country" type="text" class="form-control" ng-model="user.addresses[0].country" placeholder="Country">
            <input name="email" type="text" class="form-control" ng-model="user.email" placeholder="E-mail">
            <input name="phone" type="text" class="form-control" ng-model="user.addresses[0].phone" placeholder="Phone Number">

             <button class="btn btn-success" ng-click="saveInformation(user)" type="submit">
                Save
            </button>


        </form>
        <div class="address" ng-if="user&&!editing">
            <ul class="addressList removeDot">
                <li>
                    {{user.name}}
                </li>
                <li>
                    {{user.addresses[0].address || user.addressStreet}} {{ user.addressApt }}
                </li>
                <li>
                    {{user.addresses[0].city || user.city}}, {{user.addresses[0].state || user.state}} {{user.addresses[0].zipcode || user.zipcode}}
                </li>
                 <li>
                    {{user.email}}
                </li>
                <li>
                	{{user.addresses[0].phone || user.phone}}
                </li>
            </ul>
            <button class="btn btn-success" ng-click="editInformation()">
                Edit
            </button>
        </div>
    </div>

    <div id="paymentMethod" class="col-lg-6 css-form" novalidate>
        <h3> Payment Method</h3>
        <form method="POST" id="payment-form" class="form-group" name="form">
          <span class="payment-errors"></span>

          <!-- css not working -->
          <div class="form-row">
              <input type="number" ng-model-options="{ updateOn: 'blur' }" minlength="16" data-stripe="number" name="cardNumber" class="form-control" id="card-number" placeholder="Credit Card Number" ng-model="cardNumber" maxlength="16" required/>
          </div>
          <div>
              <input type="number" ng-model-options="{ updateOn: 'blur' }" minlength="3" maxlength="3" data-stripe="cvc" name="cvv" ng-model="cvv" class="form-control" placeholder="CVV" id="cvv" required/>
              <input type="number" ng-model-options="{ updateOn: 'blur' }" minlength="2"maxlength="2" data-stripe="exp-month" class="form-control" placeholder="MM" id="month" name="month" ng-model="month" required/> / 
              <input type="number" ng-model-options="{ updateOn: 'blur' }" minlength="4" maxlength="4" data-stripe="exp-year" class="form-control" placeholder="YYYY" id="year" name="year" ng-model="year" required/>
              <button class="btn btn-success" ng-click="saveCardInformation()">
                Save
              </button>
          </div>
        <!--   <span ng-show="form.cardNumber.$error.maxlength || form.cvv.$error.minlength || form.cvv.$error.maxlength || form.month.$error.maxlength || form.year.$error.maxlength">
                  Too many numbers!</span> -->
        </form>
    </div>

    <div id="confirmItemShipping" class="col-lg-12">
        <h3>Review Your Purchase</h3>
        <orderdetail order="order"></orderdetail>
    </div>

    <div id="orderTotal" class="col-lg-12">
    	<h3> Order summary</h3>
    	<ul class="removeDot">
    		<li> Items({{summary.numItem}}): {{summary.itemPrice |currency}} </li>
    		<li> Shipping & handling: {{summary.shipping | currency}}</li>
    		<li>Total before tax:{{summary.totalBeforeTax| currency}}</li>

    		<li> Estimate tax: {{summary.tax| currency}}</li>
    	</ul>
    	____________________________________________
    		<h4> Order Total: {{summary.total| currency}}</h4>

        <button class="btn btn-success" ng-click="placeOrder()" type="submit">
        Place order
    </button>

    </div>
    





</div>