<div class="container centered">
  <div class='row'>
    <div id="confirmItemShipping" class="col-lg-12">
      <h3>Review Your Purchase</h3>
      <orderdetail order="order"></orderdetail>
    </div>
    <div id="orderTotal" class="col-lg-12">
    	<h3> Order summary</h3>
    	<ul class="removeDot">
    		<li> Items({{summary.numItem}}): {{summary.itemPrice |currency}} </li>
    		<li> Shipping & handling: {{summary.shipping | currency}}</li>
    		<li>Total before tax:{{summary.totalBeforeTax| currency}}</li>
    		<li> Estimate tax: {{summary.tax| currency}}</li>
    	</ul>
      <h4> Order Total: {{summary.total| currency}}</h4>
      <form ng-if="appliedPromo===false">
          <input ng-model="promoCode">
         <button class="btn btn-success" type="submit" ng-click="applyPromocode(promoCode)">Apply promo code</button>
         <p>{{promoMessage}}</p>
      </form>
      <div ng-if="appliedPromo===true">
        <p > Applied Promo Successfully! You've got {{promo.percentOff}}% off</p>  
        <button class="btn btn-success" ng-click="removePromoCode()">Remove promo code</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class='row'>
    <div id="address" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading display-table" >
          <div class="row display-tr" >
            <h3 class="panel-title display-td">Shipping Details</h3>
          </div>
        </div>
        <form id='address-form' class="form-group">
          <input name="name" type="text" class="form-control" ng-model="user.name" placeholder="Full Name">
          <input name="streetAddress" type="text" class="form-control" ng-model="user.addresses[0].addressStreet" placeholder="Street Address">
          <input name="streetAddress" type="text" class="form-control" ng-model="user.addresses[0].addressApt" placeholder="Apartment #">
          <span class='input-group'>
            <input name="city" type="text" class="form-control" ng-model="user.addresses[0].city" placeholder="City">
            <input name="state" type="text" class="form-control" ng-model="user.addresses[0].state" placeholder="State / Province / Region">
            <input name="zipcode" type="text" class="form-control" ng-model="user.addresses[0].zipcode" placeholder="Zip Code">
          </span>
          <input name="country" type="text" class="form-control" ng-model="user.addresses[0].country" placeholder="Country">
          <input name="email" type="text" class="form-control" ng-model="user.email" placeholder="E-mail">
          <input name="phone" type="text" class="form-control" ng-model="user.addresses[0].phone" placeholder="Phone Number">
        </form>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="row">
        <div class="panel panel-default credit-card-box">
          <div class="panel-heading display-table" >
            <div class="row display-tr" >
              <h3 class="panel-title display-td">Payment Details</h3>
                <div class="display-td" >
                  <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                </div>
            </div>
          </div>
          <div class="panel-body css-form" novalidate>
            <form stripe-form="stripeCallback" id="paymentMethod">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="cardNumber">CARD NUMBER</label>
                      <div class="input-group">
                        <input
                          type="tel"
                          class="form-control"
                          name="cardNumber"
                          placeholder="Valid Card Number"
                          autocomplete="cc-number"
                          ng-model='number'
                          ng-model-options="{ updateOn: 'blur' }"
                          payments-format="card"
                          required autofocus
                        />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-7 col-md-7">
                    <div class="form-group">
                      <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                        <input
                          type="tel"
                          class="form-control"
                          name="cardExpiry"
                          placeholder="MM / YY"
                          autocomplete="cc-exp"
                          ng-model='expiry'
                          ng-model-options="{ updateOn: 'blur' }"
                          required
                        />
                    </div>
                  </div>
                  <div class="col-xs-5 col-md-5 pull-right">
                    <div class="form-group">
                      <label for="cardCVC">CV CODE</label>
                        <input
                          type="tel"
                          class="form-control"
                          name="cardCVC"
                          placeholder="CVC"
                          autocomplete="cc-csc"
                          ng-model='cvc'
                          ng-model-options="{ updateOn: 'blur' }"
                          payments-format="cvc"
                          required
                        />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Submit Payment</button>
                  </div>
                </div>
                <div class="row" style="display:none;">
                  <div class="col-xs-12">
                    <p class="payment-errors"></p>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
