.address{

}

.removeDot{
	list-style-type:none;
	list-style-position:inside;
	margin:0;
	padding:0;
}

#orderTotal{
	
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center; 
}

#paymentMethod input {
	margin: 10px;
	display:inline;
}

#cvv {
	width: 14%
}

#year {
	width: 16%
}

#month {
	width: 13%
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.css-form input.ng-invalid.ng-touched {
	border: solid 1px #ffb2b2;
}

.css-form input.ng-valid.ng-touched {
	border: solid 1px #6ae066;
}