.removeDot {
	list-style-type:none;
	list-style-position:inside;
	margin:0;
	padding:0;
}

#address-form {
	> * {
		border-radius: 0;
		border: 0;
	}

	.input-group {
		> * {
			border-radius: 0;
			border: 0;
			width: 33.3%;
		}
	}
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

#paymentMethod input {}

#cvv {
	width: 14%
}

#year {
	width: 16%
}

#month {
	width: 13%
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.css-form input.ng-invalid.ng-touched {
	border: solid 1px #ffb2b2;
}

.css-form input.ng-valid.ng-touched {
	border: solid 1px #6ae066;
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
