.detailTitle {
	text-align: center;
}


.detailImage {
	float:left;
	display: inline-block;
}

.detailDesc {
	
}

.container{
	margin:0 auto;
	width:75%;
}

.detailOverview{
	/*float:right;*/
	display: inline;
	/*border: 1px solid black;*/
	padding-left: 20px;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: red;
}