@import "../directives/add-review";

.detailTitle {
	text-align: center;
}


.detailImage {
	float:left;
	display: inline-block;
}

.detailDesc {

}

.container{
	margin:0 auto;
	width:75%;
}

.detailOverview{
	display: inline;
	padding-left: 20px;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

.ratingStar {
    height: 20px;
    width: 20px;
    float: left;
}

.filled {
    img {
        opacity: 0.2;
        float: left;
    }
}

.reviewFull {
    border: 1px solid black;
}

.addReview {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid black;
}

.review-review {
	width: 60%;
}

.review-rating {
	width: 20%
}

.review-submit {
	width: 19%;
}
